#main-div
{
	height: 100%;
	padding-left: 0;
	margin-top: 0rem;
}

#option-bar
{
	height: 100%;
	min-height: 60rem;
	background-color: #343a40;
	padding-top: 2rem;
	padding-left: 1rem;
}

.option-bar-list
{

}

.option-bar-list li
{
	margin: 0.7rem;
	padding: 0.2rem;
}

.option-bar-list button
{
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 1rem;
	font-weight: normal;
	color: rgb(255, 255, 255, 0.5);
}

.option-bar-list button:hover
{
	text-decoration: none;
	color: rgb(255, 255, 255, 0.8);
}

.option-bar-list button:focus
{
	text-decoration: none;
	color: rgb(255, 255, 255, 0.8);
	outline: none;
}

.btn.btn-primary[disabled]
{
    background-color: #888888;
		border-color: #555555;
}

.btn.btn-outline-primary[disabled]
{
    color: #888888;
		border-color: #555555;
}

#page-body
{
	text-align: left;
	height: 100%;
	width: 100%;
	padding-top: 2.25rem;
}

img
{
	margin-left: 17%;
	margin-bottom: 3rem;
	width: 60%;
	box-shadow: 25px 25px 50px 0 white inset, -25px -25px 50px 0 white inset; 
}

.card
{
	margin-top: 1rem;
	border-top : 1px solid #007bff;
}