#add
{
	margin-top: 0.5rem;
}
#minus
{
	color: red;
	padding-bottom: 0.3rem;
	padding-left: 0rem;
	display: none;
}

.phone-number
{
	margin-top: 0.5rem;
}

#main-jumbotron-home
{
	padding: 50px;

	background-image: url(images/main-jumbotron-home-image.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: bottom;
	
	font-weight: bold;
	font-family: Arial, Helvetica, sans-serif;
	color: white;

	border-radius: 0.0rem;
}

#news-accordion
{
	padding: 20px;
}

#news-head-text
{
	text-align: left;
}

#news-head-text:hover
{
	text-decoration: none;
}

#news-head-text:focus
{
	text-decoration: none;
}