#main-jumbotron-home
{
	padding: 50px;

	background-image: url(main-jumbotron-home-image.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: bottom;
	
	font-weight: bold;
	font-family: Arial, Helvetica, sans-serif;
	color: white;
}